@use "../../variables" as *;

.odd,
.even {
  width: 540px;
  padding: 0;
  list-style: none;
  margin-bottom: 24px;
  @media screen and (min-width: $breakpoint-md) {
    width: 220px;
  }
  li {
    font-size: $fontsize-s;
    color: $black;
    font-weight: none;
    padding: 20px;
    text-align: center;
    &:nth-child(1) {
      font-size: $fontsize-l;
      background-color: $orange_zorba;
      font-weight: bold;
      color: $white;
    }
    &:nth-child(2) {
      background-color: $gray_desertStorm;
      border: 1px solid $gray_gainsboro;
      padding: 0;
      h1 {
        color: $orange_nistre;
        font-weight: bold;
        font-size: $fontsize-xxl;
        margin-bottom: 16px;
        margin-top: 24px;
        height: 58px;

        &::before {
          content: "¥";
          margin-right: 4px;
          font-size: $fontsize-l;
        }
      }
      p {
        margin-bottom: 24px;
      }
    }
    &:nth-child(n + 3) {
      border: 1px solid $gray_gainsboro;
      border-top: none;
    }
  }
}
.even {
  border: 5px solid $orange_nistre;
  li:nth-child(1) {
    background-color: $orange_nistre;
  }
}
