@use "../../variables" as *;

.odd {
  ul {
    list-style: none;
  }
  li:nth-child(1) {
    background-color: $orange-zorba;
    height: 69px;
    width: 222px;
    font-size: $fontsize-l;
    font-weight: bold;
    color: $white;
    margin: 0 0 -1px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  li:nth-child(2) {
    height: 140px;
    background-color: $gray_desertStorm;
    color: $orange_nistre;
    font-weight: bold;
    font-size: $fontsize-xxl;
    border: 1px solid $gray_gainsboro;
    margin: 0 0 -1px;
    width: 222px;
    text-align: center;
    padding: 24px 0px;

    &:before {
      content: "¥";
      font-size: $fontsize-l;
    }

    p {
      font-size: $fontsize-s;
      color: $black;
      font-weight: normal;
      text-align: center;
      margin-top: 16px;
    }
  }
  li:nth-child(n + 3) {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 20px 10px;
    width: 222px;
    color: $black;
    background-color: $white;
    font-size: $fontsize-s;
    border: 1px solid $gray_gainsboro;
    margin: 0 0 -1px;
  }
}
