@use "../../variables" as *;

.card {
  border-radius: 0;

  .card-all {
    overflow: hidden;

    &::before {
      z-index: 2;
      content: "";
      border-bottom: 150px solid transparent;
      border-left: 150px solid $white;
      position: absolute;
    }

    h1 {
      left: 6px;
      z-index: 2;
      position: absolute;
      font-weight: bold;
      font-size: $fontsize-m;
      color: $orange_nistre;
    }
    .png {
      transition: ease 0.5s;
      width: 100%;
      height: 100%;
      z-index: 1;

      &:hover {
        transform: scale(1.2);
      }
    }
  }
  .card-body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 32px;

    span {
      font-size: $fontsize-s;
      color: $black;
      margin-bottom: 30px;
    }
  }
}
