@use "../../variables" as *;

h1 {
  font-size: $fontsize-l;
  font-family: $fontfamily-mincho;

  @media screen and (min-width: $breakpoint-lg) {
    font-size: $fontsize-xxl;
  }
}

p {
  font-size: $fontsize-m;
}
