<div class="catalog-wrapper">
  <div class="catalog">
    <h1>News</h1>
    <h2>お知らせ</h2>
  </div>

  <a href="#">
    <article>
      <time>2018.06.20</time>
      <p>ブックカフェ・コワーキング系サイト向けテーマ「Swit...</p>
    </article>
  </a>
  <a href="#">
    <article>
      <time>2018.06.18</time>
      <p>3種のレイアウトから選択できるテンプレートを固定ペ...</p>
    </article>
  </a>
  <a href="#">
    <article>
      <time>2018.06.12</time>
      <p>利用者からのご質問をまとめた「FAQ」ページをアップ...</p>
    </article>
  </a>
  <a href="#">
    <article>
      <time>2018.06.08</time>
      <p>デモ用のサンプルデータを表示する「インポート機能」...</p>
    </article>
  </a>
  <a href="#">
    <article>
      <time>2018.06.02</time>
      <p>テーマのアップデート情報について</p>
    </article>
  </a>

  <div class="more">
    <a href="#"
      >お知らせ一覧
      <i class="fas fa-angle-right"> </i>
    </a>
  </div>
</div>
