@use "../../variables" as *;

.catalog-wrapper {
  width: 460px;

  .catalog {
    padding-bottom: 32px;
  }
  .article-all {
    margin-bottom: 30px;

    article {
      background-color: $white;

      border: 1px solid $gray_gainsboro;
      margin: 0 0 -1px;

      a {
        padding: 20px;
        display: block;
        time {
          font-size: $fontsize-xs;
          color: $gray_gainsboro;
        }
        p {
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;
          margin-bottom: 0;
          color: $black;
          margin-top: 10px;
          font-size: $fontsize-m;
          &:hover {
            transition: 0.2s ease;
            color: $orange_nistre;
          }
        }
      }
    }
  }
  .more {
    float: right;
  }
}
