@use "../../variables" as *;

.news {display: flex;
  flex-direction: column;


  .catalog {
    margin-bottom: 32px;
  }

  .article-all {
    margin-bottom: 30px;
    border: 1px solid $gray_gainsboro;

    article {
      background-color: $white;
      border-bottom: 1px solid $gray_gainsboro;

      &:nth-child(5) {
        border-bottom: 0;
      }

      a {
        padding: 20px;
        display: block;

        &:hover {
          transition: ease 0.2s;
          color: $orange_nistre;
        }

        time {
          font-size: $fontsize-xs;
          color: $gray_novel;
        }

        p {
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;
          margin-bottom: 0;
          color: $black;
          margin-top: 10px;
          font-size: $fontsize-m;
          transition: color;
        }
      }
    }
  }

  .more {
    margin-left: auto;
 
  }
}
