<div class="catalog-wrapper">
  <div class="catalog">
    <h1>News</h1>
    <h2>お知らせ</h2>
  </div>
  <div class="article-all">
    <article>
      <a href="#">
        <time>2018.06.20</time>
        <p>ブックカフェ・コワーキング系サイト向けテーマ「Switch」をリリースしました。</p>
      </a>
    </article>
    <article>
      <a href="#">
        <time>2018.06.18</time>
        <p>3種のレイアウトから選択できるテンプレートを固定ページに実装</p>
      </a>
    </article>
    <article>
      <a href="#">
        <time>2018.06.12</time>
        <p>利用者からのご質問をまとめた「FAQ」ページをアップしました。</p>
      </a>
    </article>
    <article>
      <a href="#">
        <time>2018.06.08</time>
        <p>デモ用のサンプルデータを表示する「インポート機能」でサイト構築を快適に？</p>
      </a>
    </article>
    <article>
      <a href="#">
        <time>2018.06.02</time>
        <p>テーマのアップデート情報について</p>
      </a>
    </article>
  </div>
  <div class="more">
    <a href="#"
      >お知らせ一覧
      <i class="fas fa-angle-right"> </i>
    </a>
  </div>
</div>
