@use "../../variables" as *;

.news {
  color: $black;
  display: flex;
  align-items: center;
  justify-content: center;

  h1 {
    font-family: $fontfamily-mincho;
    font-size: $fontsize-l;
    margin-right: 16px;

    @media screen and (min-width: $breakpoint-lg) {
      font-size: $fontsize-xxl;
    }
  }

  h2 {
    font-size: $fontsize-m;
  }
}
