@use "../../variables" as *;

.message {
  display: flex;
  flex-direction: column;
  align-items: center;

  h1 {
    font-family: $fontfamily-mincho;
    font-size: $fontsize-l;
    margin-bottom: 6px;

    @media screen and (min-width: $breakpoint-lg) {
      font-size: $fontsize-xl;
      margin-bottom: 10px;
    }
  }

  p {
    align-items: center;
    justify-content: center;
    font-size: $fontsize-s;
  }
}
