@use "../../variables" as *;
.btn {transition: 0.2s ease;
  border-radius: 0%;
  background-color: $black;
  color: $white;
  width: 180px;
  height: 45px;
  font-family: "Noto Sans JP";
  font-style: normal;
  font-weight: normal;
  font-size: $fontsize-s;
  line-height: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0px 16px;

  @media screen and (min-width: $breakpoint-md) {
    width: 150px;
    height: 55px;
  }

  @media screen and (min-width: $breakpoint-lg) {
    width: 200px;
  }

  &:hover {
    color: $white;
    background-color: $orange_nistre;
  }
}
